<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
        <img src="../../../assets/img/fotoPerfilArgProg.jpeg" class="rounded-circle w-25 img1" alt="..." title="...">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
        <h4 id="Nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <span>
        <h1 class="titulo1">Sobre mi</h1>
        <p class="parrafo">Entusiasta del mundo Tech y de la programacion, soy una persona que siempre esta buscando aprender y ampliar  horizontes </p>
        </span>
    </div>

</div>