<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Grupo Sima </h2>
                <h5>(Noviembre 2014- actualidad)</h5>
            </li>
            <p>Diseño y seguimiento de las tareas de implementacion de sistemas de seguridad electrónica</p>
            <p> Coordinación de equipos asociados al proyecto</p>
            <p> Velar para que el proyecto se ejecute en el tiempo y presupuesto establecido.</p>
        </ul>
        <ul>
            <li>
                <h2>A & S Seguridad Electrónica </h2>
                <h5>(Enero 2012 - Septiembre 2013)</h5>
            </li>
            <p>Instalación y mantenimiento de sistemas de seguridad electrónica.</p>
            <p>Coordinacion de equipos técnicos.</p>
        </ul>
    </div>
</div>