h1 {
  color: darkblue;
  padding-top: 20px;
}
.row{
  background-color: #b9b8b8 ;
  padding-left: 20px;
  padding-right: 20px;
}

.circulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}