.cuerpo {
  background-color: #b8b9b9;
  padding-left: 20px;
}

h1 {
  color: darkblue;
  padding-top: 20px;
}

.row {
  background-color: #b8b9b9;
  
}

button.btn-primary {
  margin-left: 20px;
  
}

button.btn-danger {
  margin-left: 5px;
}
