.row {
   
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}
div {
    background-color: #b8b9b9;
}

h1 {
    color: blue;
    padding: 20px;
}

.circulo{
   
    flex-direction: column;
    align-items: center;
}
