<div class="Row">
    <h1 class="titulo1">Hard & Soft Skills</h1>
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 izquierdo">
            <P>POO</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <P>MYSQL (70%)</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <P>BOOTSTRAP (80%)</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-lg-5 derecho">
            <P>HTML (90%)</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <P>CSS (90%)</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <P>JAVASCRIPT (80%)</P>
            <div class="progress" style="height: 15%">
                <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>