<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoProyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
  
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h2>{{Proyecto.nombre}}</h2>
                    </td>
                    <h5><td>{{Proyecto.descripcion}}</td> </h5>
                    <br>
                    <img src="{{Proyecto.img}}" width="600" class="img-fluid" 
                        id="img-proyecto"><a href="{{Proyecto.link}}" target="_blank">Ir al sitio web</a>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editProyecto/{{Proyecto.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="eliminar(Proyecto.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  
  </div>
  