<h1 class="titulo1">Proyectos</h1>
<div class="row">
    <div >
        <button type="button" class="btn btn-primary" routerLink="editAcercaDe/1" *ngIf="isLogged">
            Editar Proyecto
        </button>
    </div>    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
        <h4 id="Nombre">{{proyecto.nombre}} </h4>
        <h4>{{proyecto.link}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <span> 
        <h1>Breve resumen</h1>
        <p class="parrafo">{{proyecto.descripcion}} </p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
        <img src="{{proyecto.img}}" class="" alt="..." title="...">
    </div>

</div>