<h1 class="titulo1">Proyectos</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 proyecto1">
            <div class="card" style="width:23rem; ">
                <img src="assets/img/psi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Consultorio Psicologico</h5>
                    <p class="card-text">Proyecto elaborado en Javascript, html y css.</p>
                    <a href="https://github.com/ManoelMoreiraRepo?tab=repositories" class="btn btn-danger">Ver codigo</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 proyecto1">
            <div class="card" style="width:23rem;">
                <img src="assets/img/nf.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Safe Place</h5>
                    <p class="card-text">Proyecto elaborado en javascript, html y css.</p>
                    <a href="https://github.com/ManoelMoreiraRepo?tab=repositories" class="btn btn-danger">Ver codigo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 proyecto1">
            <div class="card" style="width:23rem;">
                <img src="assets/img/store.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">E commerce</h5>
                    <p class="card-text">Proyecto elaborado en PrestaShop.</p>
                    <a href="https://github.com/ManoelMoreiraRepo?tab=repositories" class="btn btn-danger">Ver codigo</a>
                </div>
            </div>

        </div>
    </div>
</div>