.gradient-custom {
    /* fallback for old browsers */
    background: #eb4040;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(218, 58, 58), rgb(205, 210, 219));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(230, 69, 69), rgb(151, 157, 167))
}