<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../assets/img/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <img src="../../../assets/img/icons8-instagram-30.png" alt="">
            <img src="../../../assets/img/icons8-linkedin-circled-30.png" alt="">
            <img src="../../../assets/img/icons8-github-30.png" alt="">
            <button type="button" class="btn btn-dark">Login</button>
        </div>
    </div>
</div>